<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> חידון התנ"ך </title>
    <link rel="icon" type="image/png" href="images/icon.png">

    <link href="css/pair-matching.css" rel="stylesheet" type="text/css">
    <link href="css/main-style.css" rel="stylesheet" type="text/css">

    <script src="scripts/shuffle-utils.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="scripts/jquery.ui.touch-punch.min.js"></script>
    <script src="scripts/hebrew-utils.js"></script>
    <script src="scripts/spinner.js"></script>


    <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>


    <script>
    </script>

    <style>
        .list {
            padding: 5px 10px;
            background-color: rgba(218, 160, 0, 0.30); /*stroke*/
            border-radius: 10px;
            /*background: #cc4b37;*/
            list-style: hebrew outside none; /*decimal hebrew*/
            margin: 10px 10px;
            justify-content: center;
        }

        /*noinspection CssUnusedSymbol*/
        .correct-position,
        .not-sortable {
            background: lawngreen !important;
            cursor: default !important;
        }

        .item {
            display: list-item;
            padding: 5px 10px;
            margin: 10px 10px;
            border: 2px solid #444;
            border-radius: 5px;
            direction: rtl;
            background: #FFC107;
            justify-content: center;
            font-size: 1.1em;
            /*font-weight: bold;*/
            text-align: center;
            cursor: move;
        }
    </style>

</head>

<body ng-app="myApp" dir="rtl">


<div id="container">

    <div class="navbar">
        <div class="page-title">התאמת זוגות</div>
    </div>

    <div class="main" ng-controller="topicsCtrl">

        <table class="my-table" id="topics">
            <tr class="dark-background">
                <th>מספר</th>
                <th>נושא</th>
                <th>מקור</th>
            </tr>
            <tr ng-repeat="data in myData">
                <td width="5%">({{$index + 1}})</td>
                <td width="70%" class="topic-name">
                    <a href="{{ '#topic-' + ($index + 1) }}">
                        {{ data.topic }}
                    </a>
                </td>
                <td width="25%" class="topic-name"> {{data.source}}</td>
            </tr>
        </table>


        <div ng-repeat="data in myData ">

            <hr id="{{ 'topic-' + ($index + 1) }}">
            <br>
            <div style="text-align: center;">
                <h3>{{$index+1}}. {{ data.topic }} ({{data.source}})</h3>
            </div>

            <div ng-hide="data.sortable" class="grid-container">

                <div class="col-title">{{ data.key }}</div>
                <div class="col-title">{{ data.value }}</div>

                <div ng-repeat="p in ['k', 'v']"
                     ng-class="{'scroll-col custom-scrollbar' : true, 'invert-scroll' : p=='k'}">
                    <div class="grid-container-col"
                         ng-repeat="pair in data.pairList">
                        <div ng-class="{'k': 'key', 'v': 'value'}[p]"
                             ng-bind-html="renderHtml(pair[p])">
                            <!--{{ pair[p] }}-->
                        </div>
                    </div>
                </div>

            </div>

            <div ng-show="data.sortable" class="grid-container-col">

                <div class="col-title">{{ data.value }}</div>

                <div ng-class="{'scroll-col invert-scroll custom-scrollbar' : true}">
                    <!--suppress HtmlUnknownAttribute -->
                    <ol ui-sortable="sortableOptions"
                        ng-model="data.shuffled" class="list">
                        <li ng-repeat="item in data.shuffled"
                            class="item"
                            ng-class="{'not-sortable': item.locked,
                                'correct-position':
                                data.sortable
                                && data.pairMap.get(($index+1).toString()) === item.v}">
                            <!--<div>{{($index+1) + ") "}}</div>-->
                            {{item.v}}
                        </li>

                    </ol>
                </div>

                <div ng-show="false" ng-class="{'scroll-col invert-scroll custom-scrollbar' : true}">
                    <div class="grid-container-col"
                         ng-repeat="pair in data.pairList">
                        <div class="grid-container-sortable">
                            <div ng-class="{'key': true}"
                                 ng-bind-html="renderHtml(pair['v'])">
                            </div>
                            <div>({{pair['k']}}</div>
                        </div>
                    </div>
                </div>

            </div>

            <br>
            <div style="text-align: center;">
                <button class="go-to-top" onclick="document.documentElement.scrollTop = 0;">
                    תוכן עניינים
                </button>
            </div>

        </div>


        <br>

        <!-- loading layout replaced by app after startup -->
        <spinner ng-show="loading"></spinner>

    </div>

</div>

<script>
    let topics = [];
    let spreadsheetID = "1aIOcjMgBVOjCD2bnePsM-HSAxjEkbj1SDbo3rU_pgNU";
    let prefix = "gsx$";
    let listField = prefix + "רשימה";
    let keyField = prefix + "מפתח";
    let valueField = prefix + "ערך";

    let sheetNumber = 1;
    let mainUrl = "https://spreadsheets.google.com/feeds/list/" +
        spreadsheetID +
        "/" +
        sheetNumber +
        "/public/values?alt=json";

    let app = angular.module('myApp', ['spinner', 'ui.sortable']);

    app.controller('topicsCtrl',
        function ($scope, $http, $log, $sce) {

            //TODO make it a service:
            $scope.renderHtml = function (html_code) {
                return $sce.trustAsHtml(html_code);
            };

            $scope.showTopics = function () {
                $scope.loading = true; // show loading spinner
                $log.log("mainUrl: " + mainUrl); //@
                $http.get(mainUrl).then(function (response) {
                    // console.log(response);
                    let entry = response.data["feed"]["entry"];
                    let self = this; // reference to this in current scope
                    // let obj = {};
                    $(entry).each(function (index) {
                        let row = entry[index];
                        let type = row[listField]["$t"];
                        let key = row[keyField]["$t"];
                        let value = row[valueField]["$t"];
                        if (type.startsWith("נושא")) {
                            if (self.obj !== undefined) {
                                self.obj.shuffled = derangement(self.obj.pairList);
                                if (self.obj.key === "מספר סידורי")
                                    self.obj.sortable = true;
                                topics.push(self.obj);
                            }
                            self.obj = {
                                pairMap: new Map(),
                                pairList: [],
                                shuffled: []
                            };
                        } else if (type.startsWith("תיאור")) {
                            self.obj.topic = key;
                            self.obj.source = value;
                        } else if (type.startsWith("כותרת")) {
                            self.obj.key = key;
                            self.obj.value = value;
                        } else if (type === "") {
                            let pair = {
                                "k": textWrappedByAsterisksToBold(key),
                                "v": value,
                            };
                            self.obj.pairMap.set(pair["k"], pair["v"]);
                            self.obj.pairList.push(pair);
                        }
                    });
                    console.log(topics);

                    $scope.myData = topics;
                }, function (response) {
                    alert("שגיאה: " + response);
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                }).finally(function () {
                    // called no matter success or failure
                    $scope.loading = false; // hide loading spinner
                });
            };
            $scope.showTopics();

            $scope.sortableOptions = {
                items: "li:not(.not-sortable)",
            };

        });

</script>

</body>

</html>
